.commentItselfDiv{
    background-color: #EFEFEF;
    border-radius: 8px;
}
.commentProfItselfImage{
    display: inline-block;
    height: 60px;
    width: 60px;
}
.commentProfItselfImage img{
    border-radius: 50%;
    height: 100%;
    width: 100%;
    border-width: 10px;
    border: solid;
    object-fit: cover;
    border-color:#1043A9;
}
.commentProfItselfName h4{
    color: #354063;
    font-size: 20px;
    padding-right: 12px;
}
.commentProfItselfName {
    display: inline-block;
}
.commentItselfProfDiv{
    margin-top: 15px;
    margin-right: 35px;
    display: inline-block;
    float: right;
}
.commentItselfDateDiv h4{
    display: inline-block;
    margin-top: 35px;
    font-size: 20px;
    margin-left: 35px;
    color: #354063;
}
.commentItselfDateDiv{
    display: inline-block;
    
}
.commentTextItselfDiv{
    text-align: right;
    padding: 30px 85px 0px 85px;
}
.commentTextItselfDiv p{
    color: #354063;
    font-size: 15px;
}
.commentItselfFooterDiv{
   margin-top: 30px;
   text-align: center;
   padding-bottom: 15px;
}

.commentLike h5{
    display: inline-block;
    color: #354063;
    padding-left: 2px;
    font-size: 20px;
}
.commentDislike h5{
    display: inline-block;
    color: #354063;
    padding-left: 2px;
    font-size: 20px;
}

.commentLike{
    display: inline-block;
}
.commentDislike{
    display: inline-block;
    margin-right: 15px;
}

.commentLikeBtn{
    transition:  0.3s ease-in-out;

    cursor: pointer;
}
.commentDislikeBtn{
    cursor: pointer;  
    transition:  0.3s ease-in-out;

}

.commentLikeAndDislike{
    display: inline-block;
    float: right;
    margin-right: 35px;

}
.commentLikeBtn:hover{
    color: rgb(0, 235, 20);
    cursor: pointer;
}
.commentDislikeBtn:hover{
    color: rgb(235, 0, 78);
    cursor: pointer;    
}


.commentReplyBtnDiv{
    float: left;
    margin-left: 35px;
    display: inline-block;

}
.commentReplyBtn{
    transition:  0.3s ease-in-out;
    display: inline-block;
    color: #1043A9;
}

.commentReplyBtn:active{

    display: inline-block;    
    pointer-events: none;

    color: #354063;
}
.commentReplyBtn:hover{

    display: inline-block;
    color: #354063;
}
.commentShowReplyDiv{

    cursor: pointer;
    display: inline-block;
}
.commentShowReplyArrow{
    display: inline-block;
}
.commentShowReplyDiv h5{
    display: inline-block;
    padding: 0 5px 0px 5px;
    font-size: 15px;
    color: #354063;
}
.commentShowReplyDiv h5 span{
    display: inline-block;
    font-size: 15px;
    color: #1043A9;
    margin-left: 3px;
}
.commentShowReplyArrow{
    color: #1043A9;
    display: inline-block;
}
.replyBtnButton{
    background: none;
    border: none;
    padding: none;

}
