@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@font-face {
  font-family: "Dana1";
  src: url("./woff/dana-bold.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Dana2";
  src:   url("./woff/dana-medium.woff") format("woff");
  font-weight: normal;
  
  }
@font-face {
  font-family: "Dana3";
  src:   url("./woff/dana-light.woff") format("woff");
  font-weight: lighter;
      
}
* {
  box-sizing: border-box;
}

html {
  font-family: Dana2, 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family:Dana2 ;
  background-color: #ffffff;
}

a{
  text-decoration: none;

}